
.how-work-container {
    padding: 70px;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    color: white; 
    margin-top: 50px;
}

.how-work-title {
    text-align: center;
    font-size: 3em; 
    margin-bottom: 20px;
}

.how-work-intro,
.how-work-conclusion {
    font-size: 1.5em; 
    margin-bottom: 20px;
}

.how-work-step-title {
    font-size: 2em; 
    margin-top: 30px;
}

.how-work-steps {
    list-style-type: decimal;
    margin-left: 20px;
    margin-bottom: 20px;
}

.how-work-steps li {
    margin-bottom: 10px;
    font-size: 1.2em; 
}
